img{
    width: 400px;
    height: 400px;
    animation-name: home;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    border: solid 1px;
    
}

  

 @keyframes home {
    from{
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
 }
