
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
 .hello{
    text-transform: capitalize;
                                  
     font-size: 85px;
    font-family: Roboto;
    font-weight: 700;
    
 }
 .hello:hover{
    transition: ease-out;
    transition-duration: 0.5s;
    transition-delay: 0.7s;
    transform: scale(1.5);
 }
 .animation{
    animation-name: Home;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
    animation-direction: alternate;
    text-align: center;
    font-size: 85px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: Roboto;
    background:red;
 }
  @keyframes Home {
    
    from{
        
        translate: 200vw 0;
        scale:200%;
    }
    to{
        translate: 0 0;
        scale:100% 1;
    }
}
.heading{
    animation-name: heading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 10s;
    text-align: center;
    font-size: 85px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: Roboto;
    background:blue;
}
@keyframes heading {
    
    from{
        
        translate: -200vw 0;
        scale:200% 1;
    }
    to{
        translate:  0 0;
        scale:100% 1;
    }
}
