*{
    margin: 0;
    padding: 0;
}
body{
     background: url(../khushi/task2/sunset-bank-river-5632825.webp);
     background-size:cover;
     background-repeat: no-repeat; 
     width: 100%; 
     height: 100vh;
     position: fixed;
}
.main{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;
    
}
h1{
    text-align: center;
    font-family: sans-serif;
    margin-top: 5px;
}
.Register{
    background-color: rgba(0,0,0,0.5);
    width: 140%;
    height: 93%;
    font-size: 18px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    
}
form{

    padding-left: 40px;
}
input[type="text"],
input[ type="email"]
,input[type="number"] {
    width: 270px;
    height: 25px;
    border-radius: 5px;
}
button{
    width: 100px;
    height: 25px;
    background-color: red;
    color: aliceblue;
    font-size: 15px;
}

