* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
img {
  width: 150px;
  height: 50px;
}
select , option{
  background-color: #d7e2f8;
  border-radius: 10px;
  height:35px ;
}
.main {
  border: 1px solid red;
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.child1 {
  border: 1px solid green;
}

.child2 > div,
.child2,
.child1,
.child1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
