/*body{
    border: 1px solid green;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
      
}*/
.outline{
    
    height: 100px;
    width: 100px;
   
    text-align: justify;
    
    

}